doctype html
html
    head
        meta(charset="utf-8")
        title Demo about ace
        link(rel="stylesheet" href="demo.css")
    body
        div.everything
            div.btns
                button(onclick="changeTheme()") change Theme
                button(onclick="changeModel()") change Mode
            div.content
                div.shadows
                    div.shadow1
                        h1 Shadow Dom 1
                        div.root
                    div.shadow2
                        h1 Shadow Dom 2
                        div.root
                div.normal
                    h1 Normal
                    div.root


        script(src="../bower_components/ace-builds/src-noconflict/ace.js")
        script(src="../ace-shim.js")
        script(src="../bower_components/jquery/dist/jquery.js")
        script(src="demo.js")
