@charset "utf-8";

html, body {
	height:  100%;
	padding: 0;
	margin:  0;
}

.everything {
	display:        flex;
	flex-direction: row;
	height:         100%;

	.btns {
		flex:         0 150px;
		border-right: 1px solid #999;

		button {
			cursor:  pointer;
			display: block;
			width:   100%;
			height:  30px;
		}
	}

	.content {
		display:        flex;
		flex-direction: row;
		flex:           1;

		.shadows {
			flex:           1;
			display:        flex;
			flex-direction: column;

			.shadow1, .shadow2 {
				flex:         1;
				border-right: 1px solid #999;
			}

			.shadow2 {
				border-top: 1px solid #999;
			}
		}

		.normal {
			flex: 1
		}

		.shadow1, .shadow2, .normal {
			position: relative;

			h1 {
				position:      absolute;
				height:        39px;
				top:           0;
				width:         100%;
				border-bottom: 1px solid #999;
				text-align:    center;
				margin:        0;
			}

			.root {
				border:   none;
				position: absolute;
				width:    100%;
				top:      40px;
				bottom:   0;
				left:     0;
				right:    0;

				&::shadow > div {
					position: absolute;
					top:      0;
					bottom:   0;
					right:    0;
					left:     0;
					margin:   0;
				}
			}
		}
	}
}

