doctype html
html
    head
        meta(charset="utf-8")
        title Demo about ace
        link(rel="stylesheet" href="demo.css")
    body
        div.everything
            div.btns
                button(onclick="") change Theme
                button(onclick="") change Mode
            div.content
                div.shadow
                    h1 Shadow Dom
                    iframe(src="shadow.html")
                div.normal
                    h1 Normal
                    iframe(src="normal.html")

        script(src="demo.js")
