@charset "utf-8";

.everything {
	position: absolute;
	top:      0;
	left:     0;
	right:    0;
	bottom:   0;

	#wrap {
		position: absolute;
		top:      5%;
		bottom:   5%;
		left:     5%;
		width:    40%;

		&::shadow {
			#editor {
				position: absolute;
				top:      0;
				bottom:   0;
				right:    0;
				left:     0;
				border:   1px solid #777;
				margin:   0;
			}
		}
	}

	.pure-ace {
		position:    absolute;
		border:      none;
		right:       0;
		top:         0;
		bottom:      0;
		margin:      0;
		width:       50%;
		border-left: 1px solid #999;
		height:      100%;
	}
}