doctype html
html
    head
        meta(charset="utf-8")
        title hello world
        style.

            #wrap {
                position: absolute;
                top:      0;
                bottom:   0;
                right:    0;
                left:     0;
                margin:   0;
            }

            #wrap::shadow #editor {
                position: absolute;
                top:      0;
                bottom:   0;
                right:    0;
                left:     1px;
                margin:   0;
            }
    body
        div#wrap
            pre#editor var a = function() { console.log('hello') }

        script(src="../bower_components/ace-builds/src-noconflict/ace.js")
        script(src="../ace-shim.js")
        script.
            // create shadow dom
            var editorDom = document.getElementById('editor')
            var root = wrap.createShadowRoot()
            root.appendChild(editorDom)

            // init shim
            aceShimAboutShadowDom({
                cssContainer: root
            })

            // init editor
            var editor = window.editor = ace.edit(editorDom)
            editor.setTheme("ace/theme/chrome")
            editor.session.setMode("ace/mode/javascript")
